$color-black: #323232;
$color-instockblue: #004892;
$color-brainflixblue: #0095FF;
$color-white: #FFFFFF;
$color-silver: #AFAFAF;
$color-instockblue-dark: #002F5F;
$color-brainflixblue-dark: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;