/*Mobile font*/
@mixin mobile-header {
    font-family: 'avenir-bold';
    font-size: 1.5rem;
    line-height: 2rem;
}
@mixin mobile-sub {
    font-family: 'avenir-demi';
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin mobile-para {
    font-family: 'avenir-regular';
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

/*Desktop/tablet font*/
@mixin hero-header {
    font-family: 'avenir-bold';
    font-size: 3.75rem;
    line-height: 4.25rem;
}
@mixin h1-header {
    font-family: 'avenir-bold';
    font-size: 2.25rem;
    line-height: 2.75rem;
}
@mixin h2-header {
    font-family: 'avenir-bold';
    font-size: 1.5rem;
    line-height: 2rem;
}
@mixin h3-sub {
    font-family: 'avenir-demi';
    font-size: 1rem;
    line-height: 1.5rem;
}
@mixin h4-para {
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
}

/*background image*/
@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}